*{
    margin: 0;
    padding: 0;
}
.ama-bag{
    background-color: #D2D2CE;
    height: 100vh;
}
.ama-header{
    height: 225px;
    background-color: #E1B49C;
    border: 5px solid black;
    font-size: 163px;
    color: whitesmoke;
    text-align: center;
}
.b1{
    background-color: #274c77;
    color: white;
    padding-top: 35px;
    padding-left: 48px;
    padding-bottom: 32px;
    padding-right: 34px;
    position: relative;
    top: 122px;
    left: 189px;
    font-size: 40px;
}
.b2{
    background-color: #274c77;
    color: white;
    padding-top: 35px;
    padding-left: 48px;
    padding-bottom: 32px;
    padding-right: 34px;
    position: relative;
    top: 122px;
    left: 189px;
    font-size: 40px;
}
#text{
    position: relative;
    left: 399px;
    top: 196px;

}
p{
    background-color: black;
    color: white;
    height: 104px;
    text-align: center;
    font-size: 90px;

}
.ama-bag{
    
}