.button{
    background-color: black;
    color: yellow;
    padding-right: 37px;

}
.button1{
    background-color: black;
    color: red;
    padding-left: 67px;
    color: 56px;
}
.button5{
    background-color: black;
    color: white;
}